# java
*.class
*.log

# sbt specific
.cache
.history
.lib/
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# js
node_modules/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
*.iml

backend/public

temp/