// the default is scroll ...
$body-overflow-y: unset

// navbar
$navbar-box-shadow-size: 0 2px 3px
$navbar-box-shadow-color: rgba(10,10,10,.1)

@import "../../../../node_modules/bulma/bulma.sass"

.button.is-rounded
  padding-left: 1em
  padding-right: 1em