.fractal-tile-list{
    display : flex;
    flex-wrap : wrap;
}

.fractal-tile-list > .fractal-tile,
.fractal-tile-list > .dummy-tile {
    flex-grow : 1;
    margin-left: 8px;
    margin-right: 8px;
}

.fractal-tile-list > .fractal-tile {
    margin-top: 8px;
    margin-bottom: 8px;
}

.fractal-tile-list > .fractal-tile {
    border-radius: 8px;
    border: 1px hsl(0, 0%, 86%) solid; /* $grey-lighter */
    background: white;
}

.fractal-tile-list > .fractal-tile:hover{
    border: 1px solid hsl(0, 0%, 71%); /* $grey-light */
}

.fractal-tile-list > .fractal-tile > img {
    border-radius: 8px;
}

.fractal-tile-list > .dummy-tile {
    height: 0px;
    border : 0px;
}

.fractal-tile-list > .dummy-tile > img,
.fractal-tile-list > .dummy-tile > canvas,
.fractal-tile-list > .fractal-tile > img,
.fractal-tile-list > .fractal-tile > canvas{
    width : 100%;
    display : block;
    background: url('/img/rendering.svg');
    background-size: contain;
}
