/* glabal */
body{
    margin: 0px;
    padding: 0px;
}

/* navbar */
.top-bar {
    top: 0;
    left: 0;
    right: 0;
    display : flex;
    justify-content : space-between;
    background-color : #eee;
    box-shadow : 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    height : 52px;
}

.top-bar > div {
    display : flex;
    align-items : center;
}

.top-bar > div > span {
    font-size: x-large;
}

.top-bar > div > .brand-icon {
    margin : 0px 8px;
}

/* lobby */
.lobby-tile-list{
    display : flex;
    flex-wrap : wrap;
    margin: 8px;
}

.fractal-tile{
    box-shadow : rgba(0, 0, 0, 0.32) 8px 8px 8px 0px;
    background : white;
}

.fractal-tile:hover{
    box-shadow : rgba(0, 0, 0, 0.32) 8px 8px 8px 0px, hsl(217, 71%, 53%) 0px 0px 8px 2px;
    background : white;
}


.lobby-tile-list > article {
    flex-grow : 1;
    margin : 8px;
}

.fractal-tile img,
.fractal-tile canvas{
    width : 100%;
    display : block;
    background: url('/img/rendering.svg');
    background-size: contain;
}

.lobby-tile-list > .dummy-tile {
    height: 0px;
    margin : 0px 8px;
    border : 0px;
}

/* explorer */
.full-size{
    position : fixed;
    top: 0px;
    left: 0px;
    width : 100vw;
    height : 100vh;
    overflow : hidden;
    z-index: -1;
}

.full-size canvas {
    width: 100%;
    height: 100%;
}

/* action bar */
.action-bar {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    display : flex;
    justify-content : flex-end;
    flex-wrap: wrap;
}

.action-bar > *{
    margin: 8px;
}