@(fractals: Seq[repo.FractalRow])
<!DOCTYPE html>
<html>
<head>
    @components.head()
    <title>Nutria</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script type="text/javascript" src="/js/nutria.js"></script>
</head>
<body>
    <h1 class="title">Nutria Admin</h1>
    <h1 class="subtitle">@{fractals.size} Fractals</h1>

    <button class="button is-primary" onclick="window.insertSystemFractals()">Insert system fractals</button>
    <button class="button is-primary" onclick="window.putAllFractalImages()">Render all fractal images</button>
    <button class="button is-warning" onclick="window.truncateImages()">Truncate Images</button>
    <button class="button is-warning" onclick="window.cleanFractals()">Delete not parsable fractals</button>

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Image</th>
            <th>Type</th>
            <th></th>
        </tr>
        @for(fractal <- fractals){
            <tr>
                <td>
                    @{fractal.id}
                </td>
                <td>
                    <img src="/api/fractals/@{fractal.id}/image" style="width:80px; height: 45px;" />
                </td>
                <td>
                    @{fractal.maybeFractal match{
                        case None => "not parsable"
                        case Some(fractal) => fractal.program.toString
                    }}
                </td>
                <td>
                    <button class="button is-primary" onclick="window.putFractalImage('@{fractal.id}')">Render Image</button>
                    <button class="button is-warning" onclick="window.deleteFractal('@{fractal.id}')">Delete</button>
                </td>
            </tr>
        }
    </table>
</body>
</html>
