@(fractals: Seq[repo.FractalRow])
<!DOCTYPE html>
<html>
<head>
    @components.head("Nutria - Admin")
</head>
<body>
    <h1 class="title">Nutria Admin</h1>
    <h1 class="subtitle">@{fractals.size} Fractals</h1>

    <button class="button is-primary" onclick="window.insertSystemFractals()">Insert system fractals</button>
    <button class="button is-warning" onclick="window.truncateFractals()">Truncate Fractals</button>
    <button class="button is-warning" onclick="window.cleanFractals()">Delete not parsable fractals</button>

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Owner</th>
            <th>Published</th>
            <th>Type</th>
            <th>Title</th>
            <th>Description</th>
            <th></th>
        </tr>
        @for(fractal <- fractals){
            <tr>
                <td>
                    @{fractal.id}
                </td>
                <td>
                    @{fractal.owner.toString}
                </td>
                <td>
                    @{fractal.published}
                </td>
                <td>
                    @{fractal.maybeFractal match{
                    case None => "not parsable"
                    case Some(fractal) => fractal.program.getClass.getSimpleName
                    }}
                </td>
                <td>
                    @{fractal.maybeFractal match{
                    case None => "not parsable"
                    case Some(fractal) => fractal.title
                    }}
                </td>
                <td>
                    @{fractal.maybeFractal match{
                    case None => "not parsable"
                    case Some(fractal) => fractal.description
                    }}
                </td>
                <td>
                    <button class="button is-warning" onclick="window.deleteFractal('@{fractal.id}')">Delete</button>
                </td>
            </tr>
        }
    </table>
</body>
</html>
